<header id="page-topbar">
	<div class="layout-width">
		<div class="navbar-header">
			<div class="d-flex">
				<!-- hamburger-icon-->
				<button type="button"  (click)="toggleSidebarSize()" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none" id="topnav-hamburger-icon">
					<span class="hamburger-icon" [class.open]="isSidebarCollapsed">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>
			</div>

			<div class="d-flex align-items-center">
				<!-- change theme -->
				<div class="dropdown topbar-head-dropdown ms-1 header-item">
					<button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle mode-layout"
							data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <i class="bi bi-sun align-middle fs-3xl"></i>
					</button>
					
					<div class="dropdown-menu p-2 dropdown-menu-end" id="light-dark-mode">
					  <a href="#!" class="dropdown-item" (click)="switchMode('light')">
						<i class="bi bi-sun align-middle me-2"></i> Default (light mode)
					  </a>
					  <a href="#!" class="dropdown-item" (click)="switchMode('dark')">
						<i class="bi bi-moon align-middle me-2"></i> Dark
					  </a>
					</div>
				</div>

				<!-- avatar-user -->
				<div class="dropdown ms-sm-3 header-item topbar-user">
					<button type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="d-flex align-items-center">
							<img class="rounded-circle header-profile-user" src="assets/images/users/32/avatar-3.jpg" alt="Header Avatar">
							<span class="text-start ms-xl-2">
								<span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Azman</span>
								<span class="d-none d-xl-block ms-1 fs-sm user-name-sub-text">Agronomist</span>
							</span>
						</span>
					</button>
					<div class="dropdown-menu dropdown-menu-end">
						<!-- item-->
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/login"><i class="mdi mdi-logout text-muted fs-lg align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>