    
        <!-- ========== App Menu ========== -->
		<div class="app-menu navbar-menu" style="padding-top: 2%">
			<!-- LOGO -->
			<div id="scrollbar">
				<div class="container-fluid sidebar-container">
					<div id="two-column-menu">
					</div>
					<ul class="navbar-nav" id="navbar-nav">
						<li class="menu-title"><span data-key="t-menu">Menu</span></li>
						<li class="nav-item">
							<a routerLink="/dashboard" class="nav-link menu-link" routerLinkActive="active">
								<i class="ph-gauge-bold"></i>
								<span data-key="t-dashboards">Dashboard</span>
							</a>
						</li>
						<li class="nav-item">
							<a routerLink="/passenger-list" class="nav-link menu-link" routerLinkActive="active"> 
								<i class="ph-calendar"></i> 
								<span data-key="t-calendar">Passengers</span> 
							</a>
						</li>
		
						<li class="nav-item">
							<a routerLink="/resource-list" class="nav-link menu-link"> 
								<i class="ph-chats"></i> 
								<span data-key="t-chat">Resources</span> 
							</a>
						</li>
		
						<li class="nav-item">
							<a routerLink="/passenger-profile" class="nav-link menu-link" routerLinkActive="active"> 
								<i class="ph-envelope"></i> 
								<span data-key="t-email">Passenger-Profile</span> 
							</a>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		
			<div class="sidebar-background"></div>
		</div>
		<!-- Left Sidebar End -->